[package]
name = "jellyfin-tui"
version = "0.1.0"
edition = "2021"

[dependencies]
reqwest = { version = "*", features = ["json", "stream"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
crossbeam = "0.8.0"
serde_yaml = "0.8.18"
libmpv = { path = "./libmpv-rs" }
ratatui = "0.27.0"
crossterm = "0.27.0"
ratatui-image = "1.0.0"
image = "0.25.1"
dirs = "5.0.1"
chrono = "0.4"
